.footerContainer {
  height: 50px;
  background: aliceblue;
  display: flex;
  align-items: center;
  display: flex;
}

.footerJustifyStart {
  padding-left: 20px;
  justify-content: start;
}

.footerJustifyEnd {
  padding-right: 20px;
  justify-content: end;
}
